<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Dear <%= "#{@passenger.title} #{@passenger.firstname}" %></h3>
    <p>We are sorry to inform you that your flight to <%= "#{@passenger.booking.flight.destination}" %> with booking number <%= "#{@passenger.booking.reference_id}" %> has been cancelled due to critical weather and safety conditions. We apologise for the inconvenience this might cause you. Our representative will give you a call shortly to discuss a more suitable date or a refund.</p>
    <p>Please find the updated details of your cancelled flight below.</p>
   
    <%= render "booking" %>

  </body>
</html>