<div class="header-content">
  <div class="header-content-inner">
    <h2>The Appifly app helps you find quality flights to exciting destinations worldwide. Appifly users are always happy fliers with experiences to relish for a lifetime.</h2>
    <h1 class="action"><i class="fa fa-chevron-left"></i> Get Started</h1>
  </div>
</div>
