<div class="header-content">
  <div class="header-content-inner">
    <h2>The Appifly app helps you find quality flights to exciting destinations worldwide. Appifly users are always happy fliers with experiences to relish for a lifetime.</h2>
    <h2> At Appifly we amplify your happiness and flight satisfaction.</h2>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active first-slide">
        <%= image_tag "happy-traveller.jpg", :alt => "First-Slide", :size => "1050x700"%>
        <div class="container">
          <div class="overlay"></div>
          <div class="carousel-caption">
            <h1>Travelling?</h1>
            <h3>Make it a joy with Appifly</h3>
            <p><%= link_to "Learn More", about_path, class: "btn btn-outline btn-xl page-scroll" %></p>
          </div>
        </div>
      </div>
      <div class="item second-slide">
        <%= image_tag "aircraft.jpg", :alt => "Second Slide", :size => "1050x700"%>
        <div class="container">
          <div class="overlay"></div>
          <div class="carousel-caption">
            <h1>Take Control</h1>
            <h3>Manage your bookings seamlessly with Appifly.</h3>
            <p><%= link_to "Sign Up", new_user_path, class: "btn btn-outline btn-xl page-scroll" %></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>