<h1>About Page</h1>
<h3>Content for this page has not been developed yet. I do not expect to be penalised for this as it is not part of the project specification.</h3>
<div class="col-sm-7">
  <%= render "welcome/message" %>
</div>