<%= search_result_display_format %>

<div class="home-header header-nav">
  <div class="container">
    <div class="row">        
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <div class="welcome-form"> 
                  <%= render "form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <%= render "message" %>
      </div>
    </div>
  </div>
</div>
<section id="contact" class="contact bg-primary header-nav">
  <div class="container">
    <h2>We L<i class="fa fa-heart"></i>ve New Friends!</h2>
    <h4>Connect with us to get the best offers first</h4>
    <ul class="list-inline list-social">
      <li class="social-twitter">
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="social-facebook">
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="social-google-plus">
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
    </ul>
  </div>
</section>
