<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Appifly</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <%= link_to "Find Your Booking", root_path %>
                    </li>
                    <li>
                    <%= link_to "Manage Bookings", root_path %>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/sign_in">Sign in</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/sign_up">Sign up</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>